:root {
  /*
  --clr-primary-400: hsl(263 55% 52%);
  --clr-secondary-400: hsl(217 19% 35%);
  --clr-secondary-500: hsl(219 29% 14%);

  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(210 46% 95%);
  --clr-neutral-300: hsl(0 0% 81%);
  */

  --clr-primary: #fabf2d;
  --clr-primary-sdw: #e2a526;
  --clr-secondary: #222c86;
  --clr-tertiary: #e6ba33;
  --clr-fourth: #5498fc;

  --clr-neutral-1: #f5faf8;
  --clr-neutral-2: hsl(0 0% 60%);

  --clr-black: #282828;

  --ff-primary: "Inter", "Calibri", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem; /*11ox*/
  --fs-400: 0.8125rem; /*13px*/
  --fs-500: 1.25rem; /*20px*/
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;

  font-size: 15px;
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);

  background-color: #2d3e52;
}

h1,
h2,
h3 {
  font-weight: var(--fw-700);
}

/* utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.flex-col {
  flex-direction: column;
}

.flex-col-center {
  justify-content: center;
}

.flex-min-gap {
  gap: 0.5rem;
}

.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
  color: var(--clr-primary-sdw);
}

.min-link {
  font-size: 0.9em;
}

.text-gray {
  color: var(--clr-neutral-2);
}

.txt-bold {
  font-weight: 600;
}

.txt-center {
  text-align: center;
}

/* CUSTOM CODE */

/*  General styles */
body {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-1);
}
.container {
  display: grid;
  column-gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
}

.comp {
  background-color: var(--clr-secondary);
  border-radius: 2rem;
  padding: 2rem 1.3rem;

  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.title {
  font-size: 18px;
  font-family: "Playfair Display", Times, serif;
  font-weight: 600;
}

.data {
  line-height: 14px;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #111c76;
  border-radius: 2px;
  padding: 4px;
  margin-left: 3px;
}

/* ***** */
.contributors-comp {
  height: fit-content;
}
.stack-photos {
  display: flex;
}

.contr-img {
  width: 48px;
  border: 3px solid var(--clr-secondary);
  margin-right: -12px;
  border-radius: 100px;
  overflow: hidden;
}

.contr-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--clr-secondary);
  background-color: white;
}

.about-comp {
}

.icon-list {
  list-style: none;
  padding: 0;
}

.icon-list li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon {
  height: 24px;
  fill: white;
}

li a {
  color: white;
}

.progress-bar-box {
  border-radius: 100px;
  overflow: hidden;
  /* padding: 4px; */
  /* border: 1px solid #e4e7fd; */
  background-color: var(--clr-primary);
}

.progress-bar {
  width: 33%;
  /* border-radius: 100px; */
  background-color: var(--clr-fourth);
  height: 12px;
}

.lag-list {
  display: flex;
  gap: 1rem;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: var(--clr-primary);
}

.blue {
  background-color: var(--clr-fourth);
}
